[project]
name = "server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.128.0",
    "uvicorn>=0.40.0",
    "cartesia>=2.0.0",
    "python-multipart>=0.0.6",
    "python-dotenv>=1.0.0",
]
